/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 1%;
  }
  .logo {
    height: 5px;
    width: 100px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #f39c12;
  }
  .active-link1{
    text-decoration: none;
  }
  .active-link {
    color: #f39c12;
    border-bottom: 1px dotted #f39c12;
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
  
    .nav-links {
      flex-direction: column;
      width: 100%;
    }
  
    .nav-links li {
      text-align: center;
      margin: 10px 0;
    }
  
    .logo {
      margin-bottom: 15px;
    }
  }
  